@page
@model WebApp.Pages.Diaries.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Diary[0].DiaryTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diary[0].Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diary[0].DateTimeBegin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diary[0].DateTimeEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diary[0].Place)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Diary) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DiaryTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeBegin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
