@page
@model WebApp.Pages.Diaries.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Записи ежедневника</h1>

<p>
    <a asp-page="Create">Добавить запись</a>
    <a asp-page="/Diaries/DiariesTypes/index">Типы записей</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Diary[0].DiaryTypeId)*@
                Тип записи
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Diary[0].Subject)*@
                Тема
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Diary[0].DateTimeBegin)*@
                Дата и время начала
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Diary[0].DateTimeEnd)*@
                Дата и время окончания
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Diary[0].Place)*@
                Место
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Diary)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaryType.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTimeBegin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTimeEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Place)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Изменить</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Детали</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Удалить</a>
                </td>
            </tr>
        }        
    </tbody>

</table>
<table>
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Diary[0].DiaryTypeId)*@
                ID
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Diary[0].Subject)*@
                Тема
            </th>            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DiaryType)
        {
            <tr>
                <td>
                    @Html.DisplayFor(mo => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(mo => item.Type)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Изменить</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Детали</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
